/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

abbr[title] {
	border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************
	Web Fonts
****************************************** */

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-light-webfont.svg#RobotoCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ******************************************
	Custom Styles
****************************************** */

#nav,#masthead,#content,#colophon {
	margin: 0 18px;
}

#masthead {
	color:#fff;
}
#container-nav {
	background:#fff;
}

#container-header {
	background:#352a38;
	height: 350px;
	width:100%;
}

#container-content {
	padding: 24px 0;
}

#container-footer {
	padding: 32px 0;
	background:#352a38;
	color:#eee;
	font-weight:100;
}
.box {
	padding:14px;
}

img {
	max-width:100%;
}

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */

.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

.group {
    *zoom: 1; /* 3 */
    }

/* ******************************************
		Media Queries for screen wider than 720px
****************************************** */
	@media screen and (min-width: 720px){
					
		#portfolio article,
		#resume article {
			float:left;
			width:33%;
		}
	}
	

/* ******************************************
	Print Styles
****************************************** */
@media print and (max-width: 8.5in){
	
	#masthead {
		color:black;
	}
	
	#container-header {
		height: auto;
	}
	
	img {
		width:2in;
	}
	
	#portfolio	{
		float:left;
		width:45%;
	}
	
	#resume	{
		float:right;
		width:45%;
	}
	
	#container-footer	{
		clear:both;
	}
	
}
	
