@import "normalize.css";
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
* Less Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666667%;
  }
  .two.columns {
    width: 13.33333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.66666667%;
  }
  .five.columns {
    width: 39.33333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.66666667%;
  }
  .eight.columns {
    width: 65.33333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.66666667%;
  }
  .eleven.columns {
    width: 91.33333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.66666667%;
  }
  .two-thirds.column {
    width: 65.33333333%;
  }
  .one-half.column {
    width: 48%;
  }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1eaedb;
}
a:hover {
  color: #1b9cc5;
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}
.button:focus,
button:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}
.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* ******************************************
	Web Fonts
****************************************** */
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Light-webfont.eot');
  src: url('../fonts/WorkSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Light-webfont.woff') format('woff'), url('../fonts/WorkSans-Light-webfont.ttf') format('truetype'), url('../fonts/WorkSans-Light-webfont.svg#WorkSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Regular-webfont.eot');
  src: url('../fonts/WorkSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Regular-webfont.woff') format('woff'), url('../fonts/WorkSans-Regular-webfont.ttf') format('truetype'), url('../fonts/WorkSans-Regular-webfont.svg#WorkSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Medium-webfont.eot');
  src: url('../fonts/WorkSans-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Medium-webfont.woff') format('woff'), url('../fonts/WorkSans-Medium-webfont.ttf') format('truetype'), url('../fonts/WorkSans-Medium-webfont.svg#WorkSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-SemiBold-webfont.eot');
  src: url('../fonts/WorkSans-SemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-SemiBold-webfont.woff') format('woff'), url('../fonts/WorkSans-SemiBold-webfont.ttf') format('truetype'), url('../fonts/WorkSans-SemiBold-webfont.svg#WorkSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-ExtraBold-webfont.eot');
  src: url('../fonts/WorkSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/WorkSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/WorkSans-ExtraBold-webfont.svg#WorkSans-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* ******************************************
	Custom Styles
****************************************** */
/*	  For details on font-size:100% see here: 			http://filamentgroup.com/lab/how_we_learned_to_leave_body_font_size_alone/

For details on line-height:1 see here:	  			http://meyerweb.com/eric/thoughts/2008/05/06/line-height-abnormal/

For details on text-size-adjust:100% see here:
https://developer.mozilla.org/en-US/docs/CSS/text-size-adjust
*/
html {
  font-size: 100%;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
}
p,
#resume li {
  font-size: 1.125em;
  /* 18px / 16px = 1.125em */
  line-height: 1.244;
  /*  1. 20px / 16px = 1.25
      2. Font Size * Line Height = 1.125em * 1.25 = 1.40 (Round up 1.4) = Typographic Scale
      3. Typographic Scale / Font Size = 1.4 / 1.125 = 1.24 = New Line Height
  */
  margin: .612em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 3.375em;
  /* 1.125em * 3 = 3.375 */
  line-height: 1.244;
}
h2 {
  font-size: 2.25em;
  /* 1.125em * 2 = 2.25 */
  line-height: 1.244;
}
h1,
h2 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.65);
}
h3 {
  font-size: 1.575em;
  /* 1.125em * 1.4 = 1.575 */
  line-height: 1.111;
  /* (1.4 + .35) / 1.575 = 1.111 */
}
h4 {
  font-size: 1.181em;
  /* 1.125em * 1.05 = 1.181 */
  line-height: 1.185;
  /* 1.4 / 1.181 = 1.185 */
  text-transform: uppercase;
}
h5,
h6 {
  font-size: .7875em;
  /* 1.125em * .7 = 0.7875 */
  line-height: 1.333;
  /* 1.05 / .7875 = 1.333 */
  font-weight: 600;
}
h6 {
  color: #aaa;
  font-weight: 500;
}
/* Fluid Columns, Fixed Gutters */
#portfolio h4 {
  line-height: 1.778;
  /* 1.4 / 1.181 = 1.778 */
}
#content article {
  padding-top: .7em;
  padding-bottom: 1.4em;
}
.box {
  padding: .7em;
}
.box h4 {
  color: #999;
  border-top: 4px double #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 1.05em;
  /* 3/4 of 1.4 */
  text-align: center;
}
.box ul {
  list-style: none;
  padding: 0;
}
figure,
.box {
  background: #fff;
  -moz-box-shadow: 0 0 0.375em 0.1875em rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0.375em 0.1875em rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.375em 0.1875em rgba(0, 0, 0, 0.1);
  padding: .7em;
  /* 3/4 of 1.4 */
}
section footer {
  clear: both;
}
#masthead {
  color: #fff;
  width: 90%;
}
#container-nav {
  background: #fff;
}
/* Navigation */
#nav {
  /* Create faux section height using padding. */
  padding: .7em 0;
}
#nav h3 {
  /* Float heading and capitalize content. */
  float: left;
  text-transform: capitalize;
}
#nav ul {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #eee;
  margin: .7em 0 .35em;
}
#nav li {
  border-top: 1px solid #eee;
}
#nav a {
  display: block;
  font-size: 1.125em;
  color: #333;
  text-decoration: none;
  padding: 1.05em;
}
#nav a:hover {
  background: #f8f8f8;
}
/*  Hide <nav> off-screen
http://37signals.com/svn/posts/3126-another-9999px ]
*/
#nav nav {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}
/* *****  Advanced Checkbox Hack
          http://timpietrusky.com/advanced-checkbox-hack
****************************************** */
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
#nav input[type=checkbox] {
  position: absolute;
  top: -999em;
  left: -999em;
}
#nav label {
  display: block;
  background: url("../img/icon-menu.png") no-repeat right center;
  text-indent: -999em;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
#nav input[type=checkbox]:checked ~ nav {
  height: auto;
  max-height: 400px;
  overflow: hidden;
}
#container-header {
  background: #352a38;
  width: 100%;
}
#container-content {
  padding: 1.4em 0;
}
#container-footer {
  padding: 1.75em 0;
  background: #352a38;
  color: #eee;
  font-weight: 100;
}
/********************************************
Fluid Media
********************************************/
figure {
  position: relative;
}
figure img,
figure object,
figure embed,
figure video {
  display: block;
  max-width: 100%;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}
/* interpolation-mode
http://css-tricks.com/ie-fix-bicubic-scaling-for-images/
*/
/* Creates hover effect on Portfolio images */
#portfolio figure:hover,
.box:hover {
  -moz-box-shadow: 0 0 0.7em 0.35em rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0.7em 0.35em rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.7em 0.35em rgba(0, 0, 0, 0.1);
}
/* Image Offset for Indication of Linked Content */
#portfolio figure:hover {
  bottom: .26em;
}
/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */
.group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}
.group {
  *zoom: 1;
  /* 3 */
}
/* ******************************************
	   Form Styles Basic Layout
****************************************** */
form {
  padding: 0 0 1.4em;
}
form ul {
  list-style: none;
  padding: 1.4em 0 0;
  margin: 0;
}
form li {
  margin: 0 0 .7em;
}
legend {
  font-size: 1.575em;
  line-height: 1.185;
}
label {
  display: block;
  font-size: 1.181em;
  /* 1.125em * 1.05 = 1.181 */
  line-height: 1.482;
  /* 1.75 / 1.181 = 1.482 */
}
legend,
label {
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
input,
textarea {
  display: block;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.181em;
  /* 1.125em * 1.05 = 1.181 */
  line-height: 1.482;
  /* 1.75 / 1.181 = 1.482 */
  font-weight: 500;
  padding: .35em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  min-height: 10rem;
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
input.send {
  display: inline-block;
  max-width: 30em;
  font-size: 1.181em;
  /* 1.125em * 1.05 = 1.181 */
  line-height: 1.185;
  /* 1.4 / 1.181 = 1.185 */
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background: #0074b0;
  margin: .7em .35em;
  padding: .7em;
  border: 0;
  border-radius: 1.4em;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.65);
  height: auto;
}
input.send:hover {
  background: #6f6f6f;
}
input.send:active,
.send:focus {
  background: #555;
}
/* ******************************************
	Media Queries for screen wider than 720px
****************************************** */
@media screen and (min-width: 45em) {
  body {
    font-size: 1em;
  }
  #masthead {
    max-width: 40em;
  }
  #container-header {
    background-image: url('../img/sky_l-1280.jpg');
    background-size: cover;
    padding: 8% 0;
  }
  /*** NAVIGATION */
  #nav {
    padding: 0;
  }
  #nav h3 {
    margin: .7em 1.3em 0 0;
  }
  #nav label {
    display: none;
  }
  #nav nav {
    height: auto;
    max-height: none;
    overflow: visible;
  }
  #nav ul {
    border: 0;
    margin: 0;
  }
  #nav li {
    display: inline;
    border: 0;
  }
  #nav a {
    display: inline-block;
  }
  .name,
  .email {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .name {
    padding-right: .7em;
  }
  .email {
    padding-left: .7em;
  }
  input.send {
    width: 48.6%;
  }
}
/* ******************************************
	Media Queries for screen wider than 960px
****************************************** */
@media (min-width: 60em) {
  .name,
  .email {
    padding-right: 1.4em;
    padding-left: 0;
    clear: both;
  }
  .message textarea {
    width: 50%;
  }
  input.send {
    width: 25%;
    margin-left: 50%;
  }
}
@media screen and (min-width: 30em) and (max-width: 45em) {
  #container-header {
    background-image: url('../img/sky_m-800.jpg');
    padding: 5% 0;
  }
}
@media screen and (max-width: 30em) {
  #container-header {
    background-image: url('../img/sky_s-460.jpg');
    padding: 3% 0;
  }
  h1 {
    font-size: 2.756rem;
    /* 1.125em * 2.45 = 2.756 */
  }
  h2 {
    font-size: 1.969rem;
    /* 1.125em * 1.75 = 1.969 */
  }
}
/* ******************************************
	Print Styles
****************************************** */
@media print and (max-width: 8.5in) {
  #masthead {
    color: black;
  }
  #container-header {
    height: auto;
  }
  #portfolio {
    float: left;
    width: 45%;
  }
  #resume {
    float: right;
    width: 45%;
  }
  #container-footer {
    clear: both;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  img {
    width: 2in;
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  article a {
    font-weight: bolder;
    text-decoration: none;
  }
  article a[href^=http]:after {
    content: " <" attr(href) "> ";
  }
  article a[href^="#"]:after {
    content: "";
  }
  @page {
    margin: 0.5cm;
  }
}

/*# sourceMappingURL=style.css.map */